* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #0f172a; /* senin koyu tema */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Vite default flex olay覺n覺 kald覺rd覺k */
